%h2
  Edit
  = resource_name.to_s.humanize

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control', placeholder: 'Name'
  .form-group
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      Currently waiting confirmation for:
      = resource.unconfirmed_email
  .form-group
    = f.label :password, 'New Password', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "New Password (leave blank if you don't want to change"
  .form-group
    = f.label :password_confirmation, 'New Password Confirmation', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'New Password Confirmation'
  .form-group.current-password
    = f.label :current_password, 'Current Password', class: 'control-label col-sm-2'
    .col-sm-10
      = f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password'
      %span.help-block (we need your current password to confirm your changes)
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit "Update", class: 'btn btn-primary'

.cancel-account= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger'
