%h1= "#{@user.name}'s Playlists"

%div.list-group
  - @playlists.each do |playlist|
    %a{href: playlist_path(playlist), class: 'list-group-item'}
      %span.badge= "(#{playlist.total_length})"
      = playlist.name
