.playlist-links
  - if current_user && current_user == @playlist.user
    = link_to 'Edit Playlist', edit_playlist_path(@playlist), class: 'btn btn-primary'
    = link_to 'Delete Playlist', delete_playlist_path(@playlist), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }

%h1
  = @playlist.name
  %small
    Created by:
    = link_to @playlist.user.name, user_playlists_path(@playlist.user)
%p= @playlist.description

.row
  .col-md-12
    .center.jumbotron
      %h2 Want to add a song?
      = form_for @track, html: { class: 'form-inline' } do |f|
        = render 'shared/error_messages', object: f.object
        .form-group
          = f.url_field :url, placeholder: 'YouTube URL', class: 'form-control add-track-field'
          %br
          %br
          = f.submit "Add Track", class: 'btn btn-default'

.row
  .col-md-3.col-md-offset-9
    .pull-right
      Sort by:
      %select#track-sorting
        %option{value: "newest", selected: "selected"} Newest
        %option{value: "top"} Top

- if params[:sort]
  - if params[:sort] == 'newest'
    - @tracks_newest.each do |track|
      = render 'playlists/track', track: track
  - else params[:sort] == 'top'
    - @tracks_top.each do |track|
      = render 'playlists/track', track: track
- else
  - @tracks_newest.each do |track|
    = render 'playlists/track', track: track
