.playlist-links
  - if current_user && current_user == @playlist.user
    = link_to 'Edit Playlist', edit_playlist_path(@playlist), class: 'btn btn-primary'
    = link_to 'Delete Playlist', delete_playlist_path(@playlist), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }

%h1
  = @playlist.name
  %small
    Created by:
    = link_to @playlist.user.email, user_playlists_path(@playlist.user)

.row
  .col-md-12
    .center
      %h2 Want to add a song?
      = form_for @track do |f|
        = f.url_field :url, placeholder: 'YouTube URL'
        = f.submit "Add Track"

- @tracks.each do |track|
  = render 'playlists/track', track: track
