.playlist-links
  - if current_user && current_user == @playlist.user
    = link_to 'Edit Playlist', edit_playlist_path(@playlist), class: 'btn btn-primary'
    = link_to 'Delete Playlist', delete_playlist_path(@playlist), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }

%h1
  = @playlist.name
  %small
    Created by:
    = link_to @playlist.user.email, user_playlists_path(@playlist.user)

- @tracks.each do |track|
  .panel.panel-default.panel-tracks
    .panel-body
      .row
        .col-md-2
          = image_tag track.thumbnail, class: 'track-thumbnail'
        .col-md-10
          .pull-right
            %span.track-points= track.points
            = link_to 'Vote', track_path(@playlist, track), class: 'btn btn-success track-start-button'
          %h1= link_to track.title, track_path(@playlist, track), class: 'track-panel-link'
